
@{
    ViewBag.Title = "_GridEstudiantes";
}

@using School.Client.Clases.Controllers;
@model AsignaturaOut
<table id="TableAsignaturas" class="table table-hover table-striped table-bordered">
    <thead class="theadSinco">
        <tr>
            <th class="thTable" scope="col">Opciones</th>
            <th class="thTable" scope="col">Nombre</th>
            <th class="thTable" scope="col">Codigo</th>
            <th class="thTable" scope="col">Activo</th>
        </tr>
    </thead>
    <tbody class="tbodyTable">

        @if (Model.ListAsignaturas != null && Model.ListAsignaturas?.Count > 0)
        {
            foreach (var asig in Model.ListAsignaturas)
            {
                <tr>
                    <td class="text-center">
                        <i class="fa-duotone fa-pencil IconEdit" onclick="EditAsignatura(@asig.AsignaturaID)" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar"></i>
                    </td>
                    <td>@asig.Nombre</td>
                    <td class="text-center">@asig.Codigo</td>
                    @if (asig.Activo == true)
                    {
                        <td class="text-center"><i class="fa-solid fa-check IconCheckOn"></i></td>
                    }
                    else
                    {
                        <td class="text-center"><i class="fa-solid fa-check IconCheckOff"></i></td>
                    }
                </tr>
            }
        }
    </tbody>
</table>


